body
{
    color: rgb(0, 88, 139);
    text-align: center;
    font-family: "Comic Sans MS";
    
}
h1 {color: black;}
h2 {
    color: tomato;
}
p {
    color: rgb(107, 124, 8);
    font-family: Arial rgb(51, 1, 1);
    font-size: 10px;
    font-weight: 50;
    text-transform: capitalize;

  }

  p {
    font-size: 50px !important;
    }
img {
    border: 200px; height: 250px; width: 300px;
    position: 1000cm;
}
