body
{
    color: rgb(139, 0, 0);
    text-align: center;
    font-family: "Comic Sans MS";
    
}
h2 {
    color: tomato;
}
p {
    color: rgb(0, 220, 240);
    font-family: Arial rgb(51, 1, 1);
    font-size: 10px;
    font-weight: 50;
    text-transform: capitalize;

  }

  p {
    font-size: 50px !important;
    }